<div class="hidden md:block">
  <div class="overflow-hidden mt-4 rounded-2xl shadow-lg ring-1 ring-white/10">
    <.table id="players" scrollable={true} rows={@leaderboard}>
      <:col :let={player} label="">{player.rank}</:col>
      <:col :let={player} label="Name">
        <.link navigate={~p"/players/#{player.player_id}"} class="hover:underline">
          <%!-- {player.first_name} {player.last_name} --%>
          {player.first_name} {String.first(player.last_name)}.
        </.link>
      </:col>
      <:col :let={player} label="Points">{player.points}</:col>
      <:col :let={player} label="Wins">{player.match_wins}</:col>
      <:col :let={player} label="Losses">{player.match_losses}</:col>
      <:col :let={player} label="Draws">{player.match_draws}</:col>
      <:col :let={player} label="Events">{player.events}</:col>
      <:col :let={player} label="Matches">{player.matches}</:col>
    </.table>
  </div>
</div>
<div class="visible md:hidden">
  <div class="overflow-hidden mt-4 rounded-2xl shadow-lg ring-1 ring-white/10">
    <.table id="players" scrollable={true} rows={@leaderboard}>
      <:col :let={player} label="">{player.rank}</:col>
      <:col :let={player} label="Name">
        <.link navigate={~p"/players/#{player.player_id}"} class="hover:underline">
          {player.first_name} {String.first(player.last_name)}.
        </.link>
      </:col>
      <:col :let={player} label="Points">{player.points}</:col>
      <:col :let={player} label="Record">
        {player.match_wins}-{player.match_losses}-{player.match_draws}
      </:col>
    </.table>
  </div>
</div>
