<div class="flex flex-col justify-center gap-4 md:flex-row">
  <div>
    <div class="flex items-center mt-2">
      <div class="h-px flex-1 bg-slate-600"></div>
      <h2 class="text-sm font-bold uppercase tracking-widest text-zinc-600">
        Last Event Decks
      </h2>
      <div class="h-px flex-1 bg-slate-600"></div>
    </div>
    <div class="overflow-hidden mt-4 rounded-2xl shadow-lg ring-1 ring-white/10">
      <.table id="last-event-decks" rows={@last_event} scrollable={true}>
        <:col :let={deck} label="Deck">
          <.link
            navigate={~p"/decks/#{deck.deck_id}"}
            class="text-blue-600 underline hover:text-blue-800"
          >
            {deck.deck_name}
          </.link>
        </:col>
        <:col :let={deck} label="Players">
          {deck.count}
        </:col>
      </.table>
    </div>
  </div>
  <div>
    <div class="flex items-center gap-4 mt-2">
      <div class="h-px flex-1 bg-slate-600"></div>
      <h2 class="text-sm font-bold uppercase tracking-widest text-zinc-600">
        Season Breakdown
      </h2>
      <div class="h-px flex-1 bg-slate-600"></div>
    </div>
    <div class="overflow-hidden mt-4 rounded-2xl shadow-lg ring-1 ring-white/10">
      <.table id="season-decks" rows={@season_totals} scrollable={true}>
        <:col :let={deck} label="Deck">
          <.link
            navigate={~p"/decks/#{deck.deck_id}"}
            class="text-blue-600 underline hover:text-blue-800"
          >
            {deck.deck_name}
          </.link>
        </:col>
        <:col :let={deck} label="Registrations">
          {deck.count}
        </:col>
      </.table>
    </div>
  </div>
</div>
