<div class="font-bold text-3xl mt-3">
  {@player.first_name} {@player.last_name} {if is_nil(@player.rank),
    do: "",
    else: "- \##{@player.rank}"}
</div>
<div class="font-semibold text-xl">
  Record: {@player.record} ({@player.win_rate}) | Total 3-0s: {@player.trophies} | Byes: {@player.byes}
</div>
<div class="flex items-center gap-4">
  <div class="h-px flex-1 bg-slate-600"></div>

  <h2 class="text-sm font-bold uppercase tracking-widest text-zinc-600">
    Decks
  </h2>

  <div class="h-px flex-1 bg-slate-600"></div>
</div>
<%= if not is_nil(@player.decks) and not Enum.empty?(@player.decks) do %>
  <div class="overflow-hidden mt-4 rounded-2xl shadow-lg ring-1 ring-white/10">
    <.table id="decks" rows={@player.decks}>
      <:col :let={deck} label="Deck">
        <.link
          navigate={~p"/decks/#{deck.deck_id}"}
          class="text-blue-600 underline hover:text-blue-800"
        >
          {deck.deck}
        </.link>
      </:col>
      <:col :let={deck} label="Record">
        {deck.match_wins}-{deck.match_losses}-{deck.match_draws}
      </:col>
      <:col :let={deck} label="Win Rate">{deck.win_rate}</:col>
    </.table>
  </div>
<% end %>

<div class="flex items-center gap-4 mt-3">
  <div class="h-px flex-1 bg-slate-600"></div>

  <h2 class="text-sm font-bold uppercase tracking-widest text-zinc-600">
    Events
  </h2>

  <div class="h-px flex-1 bg-slate-600"></div>
</div>
<%= if not is_nil(@player.events) and not Enum.empty?(@player.events) do %>
  <%= for {{event_id, date, store, season, deck_id, deck_name}, rounds} <- @player.events do %>
    <div class="overflow-hidden mt-4 rounded-2xl bg-zinc-100 shadow-lg ring-1 ring-white/10">
      <div class="bg-[#47613E] text-white p-3">
        <div>
          <.link navigate={~p"/events/#{event_id}"} class="font-bold">
            <u>{store}</u> | {date} | {season}
          </.link>
        </div>
        <div>
          <.link navigate={~p"/decks/#{deck_id}"} class="underline italic">
            {deck_name}
          </.link>
        </div>
      </div>
      <.table id={"rounds-#{event_id}"} rows={rounds}>
        <:col :let={round} label="Round">{round.round}</:col>
        <:col :let={round} label="Opponent">
          <%= if not is_nil(round.opp_player_id) do %>
            <.link
              navigate={~p"/players/#{round.opp_player_id}"}
              class="text-blue-600 underline hover:text-blue-800"
            >
              {round.opp_first_name} {round.opp_last_name}
            </.link>
          <% else %>
            <i>Bye</i>
          <% end %>
        </:col>
        <:col :let={round} label="Opp deck">
          <%= if not is_nil(round.opp_deck_id) do %>
            <.link
              navigate={~p"/decks/#{round.opp_deck_id}"}
              class="text-blue-600 underline hover:text-blue-800"
            >
              {round.opp_deck_name}
            </.link>
          <% else %>
            ""
          <% end %>
        </:col>
        <:col :let={round} label="Result">
          {round.match_wins}-{round.match_losses}-{round.match_draws}
        </:col>
      </.table>
    </div>
  <% end %>
<% end %>
<div class="flex items-center gap-4 mt-3">
  <div class="h-px flex-1 bg-slate-600"></div>

  <h2 class="text-sm font-bold uppercase tracking-widest text-zinc-600">
    Matchups
  </h2>

  <div class="h-px flex-1 bg-slate-600"></div>
</div>
<%= if not is_nil(@player.opp_matchups) and not Enum.empty?(@player.opp_matchups) do %>
  <div class="overflow-hidden mt-4 rounded-2xl shadow-lg ring-1 ring-white/10">
    <.table id="matchups" rows={@player.opp_matchups}>
      <:col :let={matchup} label="Opponent">
        <.link
          navigate={~p"/players/#{matchup.opp_player_id}"}
          class="text-blue-600 underline hover:text-blue-800"
        >
          {matchup.opp_first_name} {matchup.opp_last_name}
        </.link>
      </:col>
      <:col :let={matchup} label="Matches">{matchup.total_matches}</:col>
      <:col :let={matchup} label="Record">
        {matchup.match_wins}-{matchup.match_losses}-{matchup.match_draws}
      </:col>

      <:col :let={matchup} label="Win Rate">
        {matchup.match_wins |> Kernel./(matchup.total_matches) |> Kernel.*(100) |> Float.floor(2)}%
      </:col>
    </.table>
  </div>
<% end %>
