<h3 class="text-xl">Qualifying Opportunities:</h3>
<ul class="list-disc ml-12 text-lg">
  <li>
    <b class="font-bold">Via League Points:</b>
    Be in top 12 based on league points at the end of the league
  </li>
  <li class="list-[circle] ml-6">3 points per match win, 1 point per match tie</li>
  <li class="list-[circle] ml-6">
    A player's best score is counted towards league points each week (example: if a player attends 2 events in the same week and scores 3-0 at the first, and 2-1 at the second their overall score for the week will be 3-0 and they will receive 9 points)
  </li>
  <li>
    <b class="font-bold">Via Qualifier Event:</b> Win a store’s Qualifier Event held once a season
  </li>
</ul>
<h3 class="text-xl mt-4">Bonus Points:</h3>
<ul class="list-disc ml-12 text-lg">
  <li>
    <b class="font-bold">Attendance:</b>
    If a player attends two different stores events within the same month they receive an additional point, if three stores are attended they receive 2 points, if all four stores are attended 3 bonus points
  </li>
</ul>
<h3 class="text-xl mt-4">Invitational</h3>
<ul class="list-disc ml-12 text-lg">
  <li>
    The Invitational Event will be hosted at Game Knight on December 19th. 16 Players will be invited to battle it out for the title of Nashville Regional Pauper Champion and prizes!
  </li>
  <li>Prizing</li>
  <li class="list-[circle] ml-6">
    <b class="font-bold">1st place:</b>
    $300 + Foil Champion Playmat + 4x Signed Faerie Macabres + Hobbit Booster Box + Reality Fracture Booster Box
  </li>
  <li class="list-[circle] ml-6">
    <b class="font-bold">2nd:</b>
    $150 + 4x Signed Arbor Elf + Reality Fracture Booster Box + Custom Playmat
  </li>
  <li class="list-[circle] ml-6">
    <b class="font-bold">3rd-4th:</b> $75 + Reality Fracture Booster Box + Custom Playmat
  </li>
  <li class="list-[circle] ml-6">
    <b class="font-bold">Top 8:</b> Reality Fracture Booster Box + Custom Playmat
  </li>
  <li class="list-[circle] ml-6"><b class="font-bold">Top 16:</b> Custom Playmat</li>
  <li class="list-[circle] ml-6">Additional prizing will be added based on attendance.</li>
</ul>
<h3 class="text-xl mt-4">Additional Notes</h3>
<ul class="list-disc ml-12 text-lg">
  <li>Lowest 2 weeks from the league will be dropped from a player's scoring.</li>
  <li>
    The first tiebreaker for league standings is each player's total number of events attended that season. Further ties are broken by each player's total 3-0 records, followed by 2-0-1 records, and continuing down until the tie is broken.
  </li>
  <li>
    If a player receives multiple invitations they will be awarded a first round bye at the invitational. Additional invitations will be discarded and do not receive any additional benefit.
  </li>
  <li>Qualifier Events do not count towards league points.</li>
  <li>
    In addition to the Invitational Prizing each player will receive 2 custom Eldrazi Spawn tokens, and individual event prizing that are supplied by the store hosting the Weekly or Qualifier Event
  </li>
</ul>
