<.back navigate={~p"/admin/stores"}>Back to stores</.back>
<div>{"#{inspect(@store)}"}</div>
<div>Event List</div>
<%= for event <- @event_list || [] do %>
  <div>{"#{inspect(event)}"}</div>
<% end %>
<div>
  <.button phx-click="check">Check Events</.button>
</div>
<div>Upcoming Events</div>
