Base Admin Page
<div class="flex flex-col">
  <.link navigate={~p"/admin/stores"} class="font-semibold text-zinc-600 hover:text-zinc-900">
    <.icon name="hero-arrow-right-solid" class="h-4 w-4" /> Stores
  </.link>
  <.link navigate={~p"/admin/decks"} class="font-semibold text-zinc-600 hover:text-zinc-900">
    <.icon name="hero-arrow-right-solid" class="h-4 w-4" /> Decks
  </.link>
</div>
