Base Admin Page
<div>
  <.link navigate={~p"/admin/stores"} class="font-semibold text-zinc-600 hover:text-zinc-900">
    <.icon name="hero-arrow-right-solid" class="h-4 w-4" /> Stores
  </.link>
</div>
