<.back navigate={~p"/admin"}>Back to Admin Home</.back>
Store List
<ul>
  <%= for store <- @store_list do %>
    <li>
      <.link navigate={~p"/admin/stores/#{store.id}"}>{store.name}</.link>
    </li>
  <% end %>
</ul>
